.DS_Store
.idea/
.vscode/
.env
.run/
*.iml

backend/.gradle/
backend/build/

admin/node_modules/
admin/dist/
admin/*.tsbuildinfo
admin/vite.config.js
admin/vite.config.d.ts

mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/coverage/
