openapi: 3.0.3
info:
  title: ZEROON API
  version: 1.0.0
  description: Contract for the ZEROON MVP mobile app and admin system.
  license:
    name: Proprietary
    url: https://zeroon.ai/legal/license
servers:
  - url: https://api.zeroon.ai/api/v1
    description: Production
tags:
  - name: Auth
    description: Login, token rotation, and session revocation.
  - name: User
    description: Current-user profile and lifecycle.
  - name: State
    description: Current state and state transitions.
  - name: Record
    description: Private zero records owned by the current user.
  - name: Companion
    description: AI companion conversations.
  - name: Memory
    description: Derived private memory entries.
  - name: Growth
    description: Long-term companion and personal growth metrics.
  - name: Support
    description: Private requests handled by the real ZEROON team.
  - name: Evidence
    description: Explicit, first-party, content-free closed-Beta product evidence.
  - name: Admin
    description: Operational APIs restricted to authenticated users with the ADMIN role.
paths:
  /auth/codes:
    post:
      tags: [Auth]
      summary: Request an SMS verification code
      description: >-
        Disabled by default. When ZEROON_SMS_ENABLED=true and a reviewed sender
        is configured, requests an expiring one-time code with a 60-second
        mobile cooldown plus hourly mobile and source-IP limits. A disabled
        channel fails closed with 503.
      operationId: requestLoginCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CodeRequest"
      responses:
        "202":
          description: Code accepted for delivery
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/AuthRateLimited"
        "503":
          $ref: "#/components/responses/AuthUnavailable"
  /auth/login:
    post:
      tags: [Auth]
      summary: Login or register with a verification code
      description: >-
        Mobile-number compatibility endpoint, disabled by default. When
        enabled, consumes a valid code once, limits attempts by device and
        source IP, and deletes a code after five failed attempts.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/AuthRateLimited"
        "503":
          $ref: "#/components/responses/AuthUnavailable"
  /auth/email/codes:
    post:
      tags: [Auth]
      summary: Request an email verification code
      description: Requests an expiring one-time code for an email address. Production applies email and source-IP limits.
      operationId: requestEmailLoginCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailCodeRequest"
      responses:
        "202": {description: Code accepted for delivery}
        "400": {$ref: "#/components/responses/BadRequest"}
        "429": {$ref: "#/components/responses/AuthRateLimited"}
        "503": {$ref: "#/components/responses/AuthUnavailable"}
  /auth/email/login:
    post:
      tags: [Auth]
      summary: Login or register with an email verification code
      operationId: loginWithEmail
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailLoginRequest"
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema: {$ref: "#/components/schemas/AuthResponse"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "429": {$ref: "#/components/responses/AuthRateLimited"}
        "503": {$ref: "#/components/responses/AuthUnavailable"}
  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate a refresh token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Rotated tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke a refresh session
      description: >-
        Revokes the supplied refresh session when it belongs to the current
        user. Repeating the same logout is idempotent.
      operationId: logout
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "204":
          description: Logged out
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /me:
    get:
      tags: [User]
      summary: Get the current user
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/preferences/language:
    get:
      tags: [User]
      summary: Get the current user's explicit language preference
      description: >-
        Returns the account preference only. FOLLOW_SYSTEM remains stored and
        is resolved independently on each device; the service does not infer a
        preference from Profile, Record, Memory, or conversation content.
      operationId: getCurrentUserLanguagePreference
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current account language preference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguagePreferenceResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [User]
      summary: Replace the current user's explicit language preference
      description: >-
        Idempotently stores an explicit account preference. This setting is
        separate from Profile context consent and does not translate existing
        private content.
      operationId: updateCurrentUserLanguagePreference
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LanguagePreferenceRequest"
      responses:
        "200":
          description: Saved account language preference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguagePreferenceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/preferences/beta-evidence:
    get:
      tags: [User]
      summary: Get the current user's closed-Beta evidence collection choice
      description: >-
        Returns the explicit first-party evidence choice. Collection defaults
        off. The internal evidence subject identifier is never returned.
      operationId: getCurrentUserBetaEvidencePreference
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current evidence collection choice and required notice version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidencePreferenceResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [User]
      summary: Replace the current user's closed-Beta evidence collection choice
      description: >-
        Stores an explicit enable or disable choice only when noticeVersion
        matches the server's current reviewed bilingual notice. Disabling stops
        new events immediately and does not backfill when re-enabled.
      operationId: updateCurrentUserBetaEvidencePreference
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvidencePreferenceRequest"
      responses:
        "200":
          description: Saved evidence collection choice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidencePreferenceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /evidence/events:
    post:
      tags: [Evidence]
      summary: Submit one reviewed content-free closed-Beta evidence event
      description: >-
        Accepts schema version 1 and only the property combination approved for
        the selected eventName. Unknown, free-text, nested, and event-inapplicable
        properties are rejected. A disabled choice or disabled environment
        returns stored false without persistence. The clientEventId is
        idempotent per internal evidence subject; conflicting reuse returns 409.
      operationId: submitBetaEvidenceEvent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvidenceEventRequest"
      responses:
        "201":
          description: Event stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceEventResponse"
        "200":
          description: Identical duplicate, disabled choice, or disabled environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceEventResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/EvidenceRateLimited"
  /me/export:
    get:
      tags: [User]
      summary: Export the current user's ZEROON data
      description: >-
        Returns the Beta JSON data copy described by UserDataExport. Credential
        hashes and raw refresh tokens are never included.
      operationId: exportCurrentUserData
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user's JSON data copy
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDataExport"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/deletion:
    delete:
      tags: [User]
      summary: Permanently delete the current account and private content
      description: >-
        Completes synchronous hard deletion before returning. Repeated calls
        are idempotent. User-owned profiles, sessions, state data, records,
        conversations, messages, memory, companion data, Beta evidence subject
        and events, and all in-app support requests, messages, diagnostics,
        history, and support audit are deleted.
        Content-free AI usage and unrelated audit metadata may remain only after
        user and conversation references are set to null. External support email
        is governed by its separately disclosed verified-deletion process.
      operationId: deleteCurrentAccount
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Account content deleted, or already deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
  /support/requests:
    post:
      tags: [Support]
      summary: Submit a private support request
      description: >-
        Creates one owner-scoped request with an opaque public reference.
        Retrying the same clientSubmissionId and identical body returns the
        existing request; reusing the id with different content returns 409.
        Diagnostics are optional, explicitly consented, and allowlisted. No
        Record, Memory, Profile, conversation, prompt, reply, token, secret,
        screenshot, attachment, or full log is accepted.
      operationId: createSupportRequest
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSupportRequest"
      responses:
        "201":
          description: Support request created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportRequestDetail"
        "200":
          description: Existing support request returned for an identical idempotent retry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportRequestDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/SupportRateLimited"
  /me/support-requests:
    get:
      tags: [Support]
      summary: List support requests owned by the current user
      operationId: listCurrentUserSupportRequests
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/SupportSize"
      responses:
        "200":
          description: Owned support request page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportRequestPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/support-requests/{reference}:
    get:
      tags: [Support]
      summary: Get one support request owned by the current user
      operationId: getCurrentUserSupportRequest
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SupportReference"
      responses:
        "200":
          description: Owned support request detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportRequestDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /me/support-requests/{reference}/messages:
    post:
      tags: [Support]
      summary: Add a follow-up to one owned support request
      description: >-
        Adds a bounded user-visible message. CLOSED requests reject follow-up.
        A follow-up to WAITING_FOR_USER or REPLIED returns the request to
        IN_REVIEW and records the transition.
      operationId: addCurrentUserSupportMessage
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SupportReference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddSupportMessageRequest"
      responses:
        "201":
          description: Follow-up stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportMessage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/SupportRateLimited"
  /admin/support-requests:
    get:
      tags: [Support]
      summary: List support requests for human operator handling
      description: >-
        ADMIN-only metadata queue. It never includes unrelated ZEROON private
        content, internal database ids, or message bodies.
      operationId: listAdminSupportRequests
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/SupportSize"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/SupportRequestStatus"
        - name: category
          in: query
          schema:
            $ref: "#/components/schemas/SupportCategory"
        - name: escalated
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Filtered operator queue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSupportRequestPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/evidence/cohorts:
    get:
      tags: [Admin, Evidence]
      summary: Read a privacy-suppressed closed-Beta cohort report
      description: >-
        ADMIN-only and aggregate-only. The entire report is suppressed below
        five authenticated evidence subjects. For an eligible cohort, every
        derived metric or distribution cell whose distinct-subject population
        is below five is independently suppressed. No subject id, event row,
        per-person timeline, receipt timestamp, or private product content is
        returned.
      operationId: readAdminEvidenceCohort
      security:
        - bearerAuth: []
      parameters:
        - name: cohortStart
          in: query
          required: true
          description: Inclusive first-authentication date in Asia/Shanghai.
          schema:
            type: string
            format: date
        - name: cohortEnd
          in: query
          required: true
          description: Inclusive last-authentication date in Asia/Shanghai.
          schema:
            type: string
            format: date
        - name: asOfDate
          in: query
          required: true
          description: Inclusive calculation cutoff in Asia/Shanghai.
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Aggregate report or a whole-report suppression envelope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceOperationsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/support-requests/{reference}:
    get:
      tags: [Support]
      summary: Read one support request for human handling
      operationId: getAdminSupportRequest
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SupportReference"
      responses:
        "200":
          description: Operator detail including explicitly separated internal notes and audit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSupportRequestDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Support]
      summary: Apply bounded triage changes to one support request
      description: >-
        ADMIN may change category, assign or unassign themself, set or clear a
        reviewed escalation, and take a RECEIVED request into IN_REVIEW. Every
        effective mutation creates a content-free audit row. Closing and other
        user-visible status changes require the reply operation.
      operationId: updateAdminSupportRequest
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SupportReference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminSupportUpdateRequest"
      responses:
        "200":
          description: Updated operator detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSupportRequestDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /admin/support-requests/{reference}/messages:
    post:
      tags: [Support]
      summary: Add an internal note or audited user-visible human reply
      description: >-
        INTERNAL is visible only to ADMIN and cannot change status.
        USER_VISIBLE requires one allowed next status and is stored atomically
        with its transition. Closing therefore always includes a visible
        explanation. Closed requests cannot be mutated or reopened.
      operationId: addAdminSupportMessage
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SupportReference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminSupportMessageRequest"
      responses:
        "201":
          description: Message, transition, and audit committed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSupportRequestDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /me/profile:
    get:
      tags: [User]
      summary: Get the current user's optional ZEROON profile
      description: Returns default empty values when no profile has been saved.
      operationId: getUserProfile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user's profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [User]
      summary: Create or update the current user's optional ZEROON profile
      description: >-
        Blank strings are saved as null. AI profile context is disabled unless
        explicitly enabled. The current value applies to the next AI request;
        no profile field is used while disabled.
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserProfileRequest"
      responses:
        "200":
          description: Saved profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/zeroon-companion:
    get:
      tags: [User]
      summary: Get the current user's private ZEROON companion
      description: Returns `met=false` when the user has not met their ZEROON yet.
      operationId: getZeroonCompanion
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user's ZEROON companion state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZeroonCompanionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [User]
      summary: Meet the current user's private ZEROON companion
      description: Creates the companion once and returns the existing companion on repeated calls.
      operationId: meetZeroonCompanion
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MeetZeroonCompanionRequest"
      responses:
        "200":
          description: Current user's ZEROON companion state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZeroonCompanionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /state/current:
    get:
      tags: [State]
      summary: Get the current state
      operationId: getCurrentState
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateSnapshot"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /state/changes:
    post:
      tags: [State]
      summary: Change the current state
      operationId: changeState
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateChangeRequest"
      responses:
        "201":
          description: State changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateSnapshot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /state/sessions:
    post:
      tags: [State]
      summary: Start or switch the active state session
      operationId: startStateSession
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartStateSessionRequest"
      responses:
        "201":
          description: Active state session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateSnapshot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /records:
    get:
      tags: [Record]
      summary: List the current user's records
      operationId: listRecords
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: Record page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Record]
      summary: Create a zero record
      operationId: createRecord
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRecordRequest"
      responses:
        "201":
          description: Record created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZeroRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /records/{recordId}:
    get:
      tags: [Record]
      summary: Get one record owned by the current user
      operationId: getRecord
      security:
        - bearerAuth: []
      parameters:
        - name: recordId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Record detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZeroRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /companion/messages:
    post:
      tags: [Companion]
      summary: Send a message to ZEROON
      description: >-
        Assembles AI context from current consent only. Profile fields enter the
        provider request only when aiProfileContextEnabled is true. Memory
        entries enter only when they belong to the current user, enabled is true,
        aiContextEnabled is true, and the entry is unexpired. Memory context is
        bounded by entry count and character length, includes source class and
        source id, and never invents personality labels, diagnoses, or scores.
        Companion continuity does not append raw recent Zero Record goal/content
        outside this Memory path, so pausing, revoking AI permission, or deleting
        Memory immediately prevents that source text from entering the next
        provider request. The first supported Accept-Language range by quality
        weight selects Simplified Chinese or English response behavior; otherwise
        a concrete account preference applies, then Simplified Chinese fallback.
        Language is never inferred from message, Profile, Record, Memory, or
        conversation content. Titles, summaries, and other private Memory text
        are excluded from usage logs and error metadata.
      operationId: sendCompanionMessage
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AcceptLanguage"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
      responses:
        "200":
          description: Companion response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /memory:
    get:
      tags: [Memory]
      summary: List memory entries owned by the current user
      operationId: listMemory
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: Memory page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /memory/{memoryId}:
    get:
      tags: [Memory]
      summary: Get one memory entry owned by the current user
      operationId: getMemory
      security:
        - bearerAuth: []
      parameters:
        - name: memoryId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Memory entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Memory]
      summary: Update controls for one owned memory entry
      description: >-
        Updates only supplied controls. A disabled entry cannot participate in
        continuity or AI context even when aiContextEnabled remains true.
        Changing enabled or aiContextEnabled takes effect on the next companion
        request. Profile AI context consent remains a separate gate for profile
        fields and does not replace per-entry Memory AI permission.
      operationId: updateMemoryControls
      security:
        - bearerAuth: []
      parameters:
        - name: memoryId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMemoryControlsRequest"
      responses:
        "200":
          description: Updated memory entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Memory]
      summary: Permanently delete one owned memory entry
      description: Immediately hard-deletes the Memory title and summary.
      operationId: deleteMemory
      security:
        - bearerAuth: []
      parameters:
        - name: memoryId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: Memory entry deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /growth/summary:
    get:
      tags: [Growth]
      summary: Get companion growth metrics for the current user
      description: Calendar calculations use the requested IANA timezone.
      operationId: getGrowthSummary
      security:
        - bearerAuth: []
      parameters:
        - name: timezone
          in: query
          required: true
          description: IANA timezone used for calendar-day calculations.
          schema:
            type: string
            example: Asia/Shanghai
      responses:
        "200":
          description: Growth summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /growth/state-pattern:
    get:
      tags: [Growth]
      summary: Get recent state pattern summary
      description: Non-diagnostic summary based only on visible state history.
      operationId: getStatePattern
      security:
        - bearerAuth: []
      parameters:
        - name: timezone
          in: query
          required: true
          description: IANA timezone used for calendar-day calculations.
          schema:
            type: string
            example: Asia/Shanghai
        - name: days
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 14
      responses:
        "200":
          description: Recent state pattern summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatePatternSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/users:
    get:
      tags: [Admin]
      summary: List users without exposing private record content
      operationId: adminListUsers
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: User page
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/prompts:
    get:
      tags: [Admin]
      summary: List prompt templates
      operationId: listPrompts
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Prompt templates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptTemplateListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags: [Admin]
      summary: Create a prompt template version
      operationId: createPrompt
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromptRequest"
      responses:
        "201":
          description: Prompt created
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/prompts/{promptId}:
    get:
      tags: [Admin]
      summary: Get prompt template detail
      operationId: getPrompt
      security:
        - bearerAuth: []
      parameters:
        - name: promptId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Prompt template detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptTemplateDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: >-
        Weighted language ranges for the current interaction. Supported ranges
        resolve to `zh-CN` or `en`; unsupported or malformed ranges are ignored
        and are never persisted. A concrete account preference is the next
        fallback, followed by Simplified Chinese.
      schema:
        type: string
      examples:
        english:
          value: en-US,en;q=0.9
        simplifiedChinese:
          value: zh-CN,zh-Hans;q=0.9
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    Size:
      name: size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    SupportSize:
      name: size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20
    SupportReference:
      name: reference
      in: path
      required: true
      schema:
        type: string
        pattern: "^ZS-[A-F0-9]{20}$"
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Unauthorized:
      description: Authentication required or invalid
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: Insufficient permission
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Conflict:
      description: Idempotency conflict or request state does not allow the operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    SupportRateLimited:
      description: Support request or follow-up rate limit exceeded
      headers:
        Retry-After:
          description: Minimum seconds before retrying this operation
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    EvidenceRateLimited:
      description: Evidence event rate limit exceeded
      headers:
        Retry-After:
          description: Minimum seconds before retrying evidence submission
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    AuthRateLimited:
      description: Verification-code rate or failed-attempt limit exceeded
      headers:
        Retry-After:
          description: Minimum seconds before retrying this operation
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    AuthUnavailable:
      description: Verification-code storage or delivery service unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    Unavailable:
      description: Upstream service unavailable
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    ApiError:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          example: rate_limited
        message:
          type: string
    CodeRequest:
      type: object
      required: [mobile]
      properties:
        mobile:
          type: string
          pattern: "^\\+[1-9][0-9]{7,14}$"
          example: "+8613800000000"
    LoginRequest:
      type: object
      required: [mobile, code, deviceId]
      properties:
        mobile:
          type: string
          pattern: "^\\+[1-9][0-9]{7,14}$"
        code:
          type: string
          pattern: "^[0-9]{6}$"
        deviceId:
          type: string
          minLength: 8
          maxLength: 128
    EmailCodeRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          maxLength: 100
    EmailLoginRequest:
      type: object
      required: [email, code, deviceId]
      properties:
        email:
          type: string
          format: email
          maxLength: 100
        code:
          type: string
          pattern: "^[0-9]{6}$"
        deviceId:
          type: string
          minLength: 8
          maxLength: 128
    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
          minLength: 32
    AuthResponse:
      type: object
      required: [accessToken, refreshToken, expiresIn, newAccount, user]
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
          description: Access-token lifetime in seconds.
        newAccount:
          type: boolean
          description: True only for the login response that created the account; refresh is false.
        user:
          $ref: "#/components/schemas/AuthUser"
    AuthUser:
      type: object
      required: [id, uid, currentState, languagePreference]
      properties:
        id:
          type: integer
          format: int64
        uid:
          type: string
        mobile:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        currentState:
          $ref: "#/components/schemas/State"
        languagePreference:
          $ref: "#/components/schemas/LanguagePreference"
    CurrentUser:
      type: object
      required: [uid, currentState, status, roles, languagePreference, createdAt]
      properties:
        uid:
          type: string
        mobile:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        currentState:
          $ref: "#/components/schemas/State"
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, DELETION_PENDING, DELETED]
        roles:
          type: array
          items:
            type: string
            enum: [USER, ADMIN]
        languagePreference:
          $ref: "#/components/schemas/LanguagePreference"
        createdAt:
          type: string
          format: date-time
    LanguagePreference:
      type: string
      description: >-
        Explicit interaction-language preference. FOLLOW_SYSTEM is preserved
        and resolved on each device rather than being replaced at save time.
      enum: [FOLLOW_SYSTEM, ZH_CN, EN]
    LanguagePreferenceRequest:
      type: object
      required: [languagePreference]
      additionalProperties: false
      properties:
        languagePreference:
          $ref: "#/components/schemas/LanguagePreference"
    LanguagePreferenceResponse:
      type: object
      required: [languagePreference]
      properties:
        languagePreference:
          $ref: "#/components/schemas/LanguagePreference"
    EvidencePreferenceRequest:
      type: object
      additionalProperties: false
      required: [enabled, adultConfirmed, noticeVersion]
      properties:
        enabled:
          type: boolean
        adultConfirmed:
          type: boolean
          description: Must be true for the current adult-only closed Beta.
        noticeVersion:
          type: string
          minLength: 1
          maxLength: 40
          pattern: "^[A-Za-z0-9._-]+$"
    EvidencePreferenceResponse:
      type: object
      required:
        [available, enabled, adultConfirmed, requiredNoticeVersion]
      properties:
        available:
          type: boolean
          description: Whether this environment currently accepts evidence events.
        enabled:
          type: boolean
        adultConfirmed:
          type: boolean
        requiredNoticeVersion:
          type: string
        acceptedNoticeVersion:
          type: string
          nullable: true
        choiceChangedAt:
          type: string
          format: date-time
          nullable: true
    EvidenceEventName:
      type: string
      enum:
        - AUTH_COMPLETED
        - ZEROON_ENCOUNTER_VIEWED
        - ZEROON_ENCOUNTER_COMPLETED
        - STATE_STARTED
        - RESET_STARTED
        - RECORD_SAVED
        - RECORD_SAVE_FAILED
        - ARCHIVE_VIEWED
        - RECORD_DETAIL_VIEWED
        - REFLECTION_REQUESTED
        - REFLECTION_COMPLETED
        - MEMORY_CONTROL_CHANGED
        - PROFILE_AI_CONTEXT_CHANGED
        - PROFILE_AI_CONTEXT_CONTROL_VIEWED
        - DATA_EXPORT_REQUESTED
        - ACCOUNT_DELETE_REQUESTED
    EvidenceEventRequest:
      type: object
      additionalProperties: false
      required: [clientEventId, eventName, schemaVersion, occurredDate]
      description: >-
        Property contract by event: AUTH_COMPLETED requires accountType,
        platform, appVersion; ZEROON_ENCOUNTER_VIEWED requires entrySource,
        appVersion; ZEROON_ENCOUNTER_COMPLETED requires durationBucket,
        retryCountBucket; STATE_STARTED requires state, source; RESET_STARTED
        requires entrySource, activeStatePresent; RECORD_SAVED requires state,
        hasGoal, hasContent, latencyBucket, retryCountBucket;
        RECORD_SAVE_FAILED requires errorClass, retryable, networkStatus;
        ARCHIVE_VIEWED requires entrySource, itemCountBucket;
        RECORD_DETAIL_VIEWED requires recordAgeBucket, sourceType;
        REFLECTION_REQUESTED requires surface, contextClasses;
        REFLECTION_COMPLETED requires outcome, latencyBucket, promptVersion,
        modelAlias; MEMORY_CONTROL_CHANGED requires action, sourceType;
        PROFILE_AI_CONTEXT_CHANGED requires enabled, surface;
        PROFILE_AI_CONTEXT_CONTROL_VIEWED requires enabled, surface;
        DATA_EXPORT_REQUESTED requires surface, outcome;
        ACCOUNT_DELETE_REQUESTED requires surface, outcome and optionally
        reasonCategory. Properties not listed for the selected event are
        rejected.
      properties:
        clientEventId:
          type: string
          format: uuid
        eventName:
          $ref: "#/components/schemas/EvidenceEventName"
        schemaVersion:
          type: integer
          enum: [1]
        occurredDate:
          type: string
          format: date
          description: Asia/Shanghai calendar date; no exact client timestamp.
        accountType:
          type: string
          enum: [NEW, EXISTING]
        platform:
          type: string
          enum: [IOS, ANDROID, WEB, UNKNOWN]
        appVersion:
          type: string
          maxLength: 40
          pattern: "^[A-Za-z0-9._+-]+$"
        entrySource:
          type: string
          enum:
            [LOGIN, NOW, RESET, ARCHIVE, RECORD_DETAIL, SETTINGS, PROFILE, COMPANION, UNKNOWN]
        durationBucket:
          type: string
          enum:
            [UNDER_10_SECONDS, FROM_10_TO_29_SECONDS, FROM_30_TO_59_SECONDS,
             FROM_1_TO_2_MINUTES, OVER_2_MINUTES]
        retryCountBucket:
          type: string
          enum: [ZERO, ONE, TWO_OR_MORE]
        state:
          $ref: "#/components/schemas/State"
        source:
          type: string
          enum: [MANUAL, RECORD, AI, SYSTEM]
        activeStatePresent:
          type: boolean
        hasGoal:
          type: boolean
        hasContent:
          type: boolean
        latencyBucket:
          type: string
          enum:
            [UNDER_500_MS, FROM_500_TO_1499_MS, FROM_1500_TO_4999_MS,
             FROM_5_TO_14_SECONDS, OVER_15_SECONDS]
        errorClass:
          type: string
          enum: [NETWORK, TIMEOUT, VALIDATION, AUTHORIZATION, CONFLICT, SERVER, UNKNOWN]
        retryable:
          type: boolean
        networkStatus:
          type: string
          enum: [ONLINE, OFFLINE, TIMEOUT, UNKNOWN]
        itemCountBucket:
          type: string
          enum: [EMPTY, ONE, TWO_TO_FIVE, SIX_TO_TWENTY, OVER_TWENTY]
        recordAgeBucket:
          type: string
          enum: [SAME_DAY, ONE_TO_SIX_DAYS, ONE_TO_FOUR_WEEKS, OVER_FOUR_WEEKS]
        sourceType:
          type: string
          enum: [ZERO_RECORD, MEMORY]
        surface:
          type: string
          enum:
            [LOGIN, NOW, RESET, ARCHIVE, RECORD_DETAIL, SETTINGS, PROFILE,
             COMPANION, DATA_CONTROL]
        contextClasses:
          type: array
          uniqueItems: true
          maxItems: 2
          items:
            type: string
            enum: [PROFILE, MEMORY]
        outcome:
          type: string
          enum: [STARTED, COMPLETED, SUCCESS, FALLBACK, REFUSAL, FAILED, CANCELLED]
        promptVersion:
          type: string
          maxLength: 40
          pattern: "^[A-Za-z0-9._:-]+$"
        modelAlias:
          type: string
          maxLength: 40
          pattern: "^[A-Za-z0-9._:-]+$"
        action:
          type: string
          enum: [ENABLE, DISABLE, ALLOW_AI, DISALLOW_AI, DELETE]
        enabled:
          type: boolean
        reasonCategory:
          type: string
          enum:
            [NO_LONGER_NEEDED, PRIVACY_CONCERN, NOT_USEFUL, TOO_DIFFICULT,
             OTHER, PREFER_NOT_TO_SAY]
    EvidenceEventResponse:
      type: object
      required: [stored, duplicate, clientEventId, eventName]
      properties:
        stored:
          type: boolean
        duplicate:
          type: boolean
        clientEventId:
          type: string
          format: uuid
        eventName:
          $ref: "#/components/schemas/EvidenceEventName"
    SupportCategory:
      type: string
      enum:
        - PRODUCT_PROBLEM
        - SUGGESTION
        - ACCOUNT_DATA_PRIVACY
        - AI_RESPONSE_SAFETY
        - COMPLAINT_RIGHTS
        - OTHER
    SupportRequestStatus:
      type: string
      enum: [RECEIVED, IN_REVIEW, WAITING_FOR_USER, REPLIED, CLOSED]
    SupportActorType:
      type: string
      enum: [SYSTEM, USER, ADMIN]
    SupportMessageVisibility:
      type: string
      enum: [USER_VISIBLE, INTERNAL]
    SupportEscalationCode:
      type: string
      enum:
        - ENGINEERING
        - PRODUCT
        - PRIVACY
        - SAFETY
        - COMPLAINT
        - PROFESSIONAL_REVIEW
    SupportAdminAuditAction:
      type: string
      enum:
        - CATEGORY_CHANGE
        - ASSIGNMENT_CHANGE
        - ESCALATION_CHANGE
        - STATUS_CHANGE
        - USER_VISIBLE_REPLY
        - INTERNAL_NOTE
    CreateSupportRequest:
      type: object
      additionalProperties: false
      required:
        [clientSubmissionId, category, subject, description, diagnosticConsent]
      properties:
        clientSubmissionId:
          type: string
          format: uuid
        category:
          $ref: "#/components/schemas/SupportCategory"
        subject:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          minLength: 1
          maxLength: 4000
        replyContact:
          type: string
          maxLength: 200
          nullable: true
        diagnosticConsent:
          type: boolean
          description: Must be true when diagnostics is present.
        diagnostics:
          $ref: "#/components/schemas/SupportDiagnosticEnvelope"
          nullable: true
    SupportDiagnosticEnvelope:
      type: object
      additionalProperties: false
      properties:
        appVersion:
          type: string
          maxLength: 40
        build:
          type: string
          maxLength: 40
        platform:
          type: string
          maxLength: 30
        osFamily:
          type: string
          maxLength: 40
        locale:
          type: string
          enum: [zh-CN, en]
        errorCode:
          type: string
          maxLength: 80
          pattern: "^[A-Za-z0-9._:-]*$"
        timestamp:
          type: string
          format: date-time
    AddSupportMessageRequest:
      type: object
      additionalProperties: false
      required: [body]
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 2000
    SupportRequestSummary:
      type: object
      required: [reference, category, status, subject, createdAt, updatedAt]
      properties:
        reference:
          type: string
          pattern: "^ZS-[A-F0-9]{20}$"
        category:
          $ref: "#/components/schemas/SupportCategory"
        status:
          $ref: "#/components/schemas/SupportRequestStatus"
        subject:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SupportRequestPage:
      type: object
      required: [items, page, size, totalElements]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SupportRequestSummary"
        page:
          type: integer
          minimum: 0
        size:
          type: integer
          minimum: 1
          maximum: 50
        totalElements:
          type: integer
          format: int64
          minimum: 0
    SupportMessage:
      type: object
      required: [id, actorType, body, createdAt]
      properties:
        id:
          type: integer
          format: int64
        actorType:
          $ref: "#/components/schemas/SupportActorType"
        body:
          type: string
        createdAt:
          type: string
          format: date-time
    SupportStatusHistory:
      type: object
      required: [toStatus, actorType, createdAt]
      properties:
        fromStatus:
          $ref: "#/components/schemas/SupportRequestStatus"
          nullable: true
        toStatus:
          $ref: "#/components/schemas/SupportRequestStatus"
        actorType:
          $ref: "#/components/schemas/SupportActorType"
        createdAt:
          type: string
          format: date-time
    SupportRequestDetail:
      allOf:
        - $ref: "#/components/schemas/SupportRequestSummary"
        - type: object
          required: [description, messages, statusHistory]
          properties:
            description:
              type: string
            replyContact:
              type: string
              nullable: true
            diagnostics:
              $ref: "#/components/schemas/SupportDiagnosticEnvelope"
              nullable: true
            messages:
              type: array
              items:
                $ref: "#/components/schemas/SupportMessage"
            statusHistory:
              type: array
              items:
                $ref: "#/components/schemas/SupportStatusHistory"
            closedAt:
              type: string
              format: date-time
              nullable: true
    AdminSupportUpdateRequest:
      type: object
      additionalProperties: false
      required: [reasonCode]
      minProperties: 2
      properties:
        category:
          $ref: "#/components/schemas/SupportCategory"
        status:
          $ref: "#/components/schemas/SupportRequestStatus"
          description: Status-only mutation is limited to RECEIVED to IN_REVIEW.
        assignToMe:
          type: boolean
          description: True assigns the authenticated ADMIN; false unassigns.
        escalated:
          type: boolean
        escalationCode:
          $ref: "#/components/schemas/SupportEscalationCode"
          nullable: true
          description: Required when escalated is true and absent when false.
        reasonCode:
          type: string
          pattern: "^[A-Z0-9_]{2,40}$"
          maxLength: 40
    AdminSupportMessageRequest:
      type: object
      additionalProperties: false
      required: [body, visibility, reasonCode]
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 2000
        visibility:
          $ref: "#/components/schemas/SupportMessageVisibility"
        nextStatus:
          $ref: "#/components/schemas/SupportRequestStatus"
          nullable: true
          description: Required for USER_VISIBLE and forbidden for INTERNAL.
        reasonCode:
          type: string
          pattern: "^[A-Z0-9_]{2,40}$"
          maxLength: 40
    AdminSupportRequestSummary:
      type: object
      required:
        - reference
        - ownerUid
        - category
        - status
        - subject
        - descriptionPreview
        - escalated
        - createdAt
        - updatedAt
      properties:
        reference:
          type: string
          pattern: "^ZS-[A-F0-9]{20}$"
        ownerUid:
          type: string
        category:
          $ref: "#/components/schemas/SupportCategory"
        status:
          $ref: "#/components/schemas/SupportRequestStatus"
        subject:
          type: string
        descriptionPreview:
          type: string
          maxLength: 160
        assignedAdminUid:
          type: string
          nullable: true
        escalated:
          type: boolean
        escalationCode:
          $ref: "#/components/schemas/SupportEscalationCode"
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AdminSupportRequestPage:
      type: object
      required: [items, page, size, totalElements]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AdminSupportRequestSummary"
        page:
          type: integer
          minimum: 0
        size:
          type: integer
          minimum: 1
          maximum: 50
        totalElements:
          type: integer
          format: int64
          minimum: 0
    AdminSupportMessage:
      type: object
      required: [id, actorType, visibility, body, createdAt]
      properties:
        id:
          type: integer
          format: int64
        actorType:
          $ref: "#/components/schemas/SupportActorType"
        visibility:
          $ref: "#/components/schemas/SupportMessageVisibility"
        actorUid:
          type: string
          nullable: true
        body:
          type: string
        createdAt:
          type: string
          format: date-time
    AdminSupportStatusHistory:
      type: object
      required: [toStatus, actorType, reasonCode, createdAt]
      properties:
        fromStatus:
          $ref: "#/components/schemas/SupportRequestStatus"
          nullable: true
        toStatus:
          $ref: "#/components/schemas/SupportRequestStatus"
        actorType:
          $ref: "#/components/schemas/SupportActorType"
        actorUid:
          type: string
          nullable: true
        reasonCode:
          type: string
        createdAt:
          type: string
          format: date-time
    AdminSupportAudit:
      type: object
      required: [actionType, reasonCode, createdAt]
      description: Structured mutation evidence that never copies message or request body text.
      properties:
        actionType:
          $ref: "#/components/schemas/SupportAdminAuditAction"
        actorUid:
          type: string
          nullable: true
        fromValue:
          type: string
          nullable: true
        toValue:
          type: string
          nullable: true
        messageId:
          type: integer
          format: int64
          nullable: true
        reasonCode:
          type: string
        createdAt:
          type: string
          format: date-time
    AdminSupportRequestDetail:
      allOf:
        - $ref: "#/components/schemas/AdminSupportRequestSummary"
        - type: object
          required: [description, messages, statusHistory, audit]
          properties:
            description:
              type: string
            replyContact:
              type: string
              nullable: true
            diagnostics:
              $ref: "#/components/schemas/SupportDiagnosticEnvelope"
              nullable: true
            messages:
              type: array
              items:
                $ref: "#/components/schemas/AdminSupportMessage"
            statusHistory:
              type: array
              items:
                $ref: "#/components/schemas/AdminSupportStatusHistory"
            audit:
              type: array
              items:
                $ref: "#/components/schemas/AdminSupportAudit"
            closedAt:
              type: string
              format: date-time
              nullable: true
    UserDataExport:
      type: object
      required:
        - schemaVersion
        - exportedAt
        - account
        - sessions
        - stateHistory
        - stateSessions
        - records
        - conversations
        - memoryEntries
        - supportRequests
        - betaEvidencePreference
        - betaEvidenceEvents
        - aiUsage
      properties:
        schemaVersion:
          type: string
          enum: [zeroon-beta-export-v5]
        exportedAt:
          type: string
          format: date-time
        account:
          $ref: "#/components/schemas/CurrentUser"
        profile:
          $ref: "#/components/schemas/UserDataProfile"
          nullable: true
        zeroonCompanion:
          $ref: "#/components/schemas/UserDataZeroonCompanion"
          nullable: true
        sessions:
          type: array
          description: Session metadata only; refresh tokens and token hashes are excluded.
          items:
            $ref: "#/components/schemas/UserDataSession"
        stateHistory:
          type: array
          items:
            $ref: "#/components/schemas/UserDataStateChange"
        stateSessions:
          type: array
          items:
            $ref: "#/components/schemas/UserDataStateSession"
        records:
          type: array
          items:
            $ref: "#/components/schemas/UserDataRecord"
        conversations:
          type: array
          items:
            $ref: "#/components/schemas/UserDataConversation"
        memoryEntries:
          type: array
          items:
            $ref: "#/components/schemas/UserDataMemoryEntry"
        supportRequests:
          type: array
          description: >-
            User-visible support data only. Internal notes, assignment,
            administrator identity, internal reason codes, and security audit
            details are excluded.
          items:
            $ref: "#/components/schemas/UserDataSupportRequest"
        betaEvidencePreference:
          $ref: "#/components/schemas/UserDataEvidencePreference"
        betaEvidenceEvents:
          type: array
          description: >-
            Retained owned content-free events. Internal subject id,
            event fingerprint, and server receipt timestamp are excluded.
          items:
            $ref: "#/components/schemas/UserDataEvidenceEvent"
        aiUsage:
          type: array
          description: Content-free provider and outcome metadata; no prompt text.
          items:
            $ref: "#/components/schemas/UserDataAiUsage"
    UserDataEvidencePreference:
      type: object
      required: [enabled, adultConfirmed]
      properties:
        enabled:
          type: boolean
        adultConfirmed:
          type: boolean
        acceptedNoticeVersion:
          type: string
          nullable: true
        choiceChangedAt:
          type: string
          format: date-time
          nullable: true
    UserDataEvidenceEvent:
      type: object
      required: [eventName, schemaVersion, occurredDate, properties]
      properties:
        eventName:
          $ref: "#/components/schemas/EvidenceEventName"
        schemaVersion:
          type: integer
          enum: [1]
        occurredDate:
          type: string
          format: date
        properties:
          $ref: "#/components/schemas/UserDataEvidenceEventProperties"
    UserDataEvidenceEventProperties:
      type: object
      additionalProperties: false
      description: >-
        Contains only the event-applicable subset of the reviewed typed
        properties. It never contains private text or direct identity.
      properties:
        accountType:
          type: string
        platform:
          type: string
        appVersion:
          type: string
        entrySource:
          type: string
        durationBucket:
          type: string
        retryCountBucket:
          type: string
        state:
          type: string
        source:
          type: string
        activeStatePresent:
          type: boolean
        hasGoal:
          type: boolean
        hasContent:
          type: boolean
        latencyBucket:
          type: string
        errorClass:
          type: string
        retryable:
          type: boolean
        networkStatus:
          type: string
        itemCountBucket:
          type: string
        recordAgeBucket:
          type: string
        sourceType:
          type: string
        surface:
          type: string
        contextClasses:
          type: array
          items:
            type: string
        outcome:
          type: string
        promptVersion:
          type: string
        modelAlias:
          type: string
        action:
          type: string
        enabled:
          type: boolean
        reasonCategory:
          type: string
    UserDataProfile:
      type: object
      required: [aiProfileContextEnabled, createdAt, updatedAt]
      properties:
        nickname:
          type: string
          nullable: true
        avatarPreset:
          $ref: "#/components/schemas/AvatarPreset"
          nullable: true
        ageRange:
          $ref: "#/components/schemas/AgeRange"
          nullable: true
        occupation:
          type: string
          nullable: true
        selfDescription:
          type: string
          nullable: true
        aiProfileContextEnabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserDataZeroonCompanion:
      type: object
      required: [companionKey, nameplateSerial, metAt]
      properties:
        companionKey:
          type: string
        displayName:
          type: string
          nullable: true
        nameplateSerial:
          type: string
        metAt:
          type: string
          format: date-time
    UserDataSession:
      type: object
      required: [deviceId, expiresAt, createdAt]
      properties:
        deviceId:
          type: string
        expiresAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
    UserDataStateChange:
      type: object
      required: [currentState, source, createdAt]
      properties:
        previousState:
          $ref: "#/components/schemas/State"
          nullable: true
        currentState:
          $ref: "#/components/schemas/State"
        source:
          type: string
        createdAt:
          type: string
          format: date-time
    UserDataStateSession:
      type: object
      required: [id, state, source, startedAt]
      properties:
        id:
          type: integer
          format: int64
        state:
          $ref: "#/components/schemas/State"
        source:
          type: string
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
          nullable: true
        endedByRecordId:
          type: integer
          format: int64
          nullable: true
    UserDataRecord:
      type: object
      required: [id, state, createdAt, updatedAt]
      properties:
        id:
          type: integer
          format: int64
        state:
          $ref: "#/components/schemas/State"
        goal:
          type: string
          nullable: true
        content:
          type: string
          nullable: true
        aiSummary:
          type: string
          nullable: true
        stateSessionId:
          type: integer
          format: int64
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserDataConversation:
      type: object
      required: [id, createdAt, updatedAt, messages]
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        messages:
          type: array
          items:
            $ref: "#/components/schemas/UserDataMessage"
    UserDataMessage:
      type: object
      required: [id, role, content, createdAt]
      properties:
        id:
          type: integer
          format: int64
        role:
          type: string
          enum: [USER, ASSISTANT, SYSTEM]
        content:
          type: string
        safetyLabel:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    UserDataMemoryEntry:
      type: object
      required:
        [id, type, summary, importance, enabled, aiContextEnabled, createdAt, updatedAt]
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          enum: [ZERO_RECORD, STATE, CONVERSATION, GROWTH]
        title:
          type: string
          nullable: true
        summary:
          type: string
        importance:
          type: integer
          minimum: 1
          maximum: 10
        sourceType:
          type: string
          nullable: true
        sourceId:
          type: integer
          format: int64
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        enabled:
          type: boolean
          description: Whether the entry participates in continuity features.
        aiContextEnabled:
          type: boolean
          description: Per-entry AI-use permission; ineffective while enabled is false.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserDataSupportRequest:
      type: object
      required:
        - reference
        - category
        - status
        - subject
        - description
        - messages
        - statusHistory
        - createdAt
        - updatedAt
      properties:
        reference:
          type: string
        category:
          $ref: "#/components/schemas/SupportCategory"
        status:
          $ref: "#/components/schemas/SupportRequestStatus"
        subject:
          type: string
        description:
          type: string
        replyContact:
          type: string
          nullable: true
        diagnostics:
          $ref: "#/components/schemas/SupportDiagnosticEnvelope"
          nullable: true
        messages:
          type: array
          items:
            $ref: "#/components/schemas/UserDataSupportMessage"
        statusHistory:
          type: array
          items:
            $ref: "#/components/schemas/UserDataSupportStatus"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        closedAt:
          type: string
          format: date-time
          nullable: true
    UserDataSupportMessage:
      type: object
      required: [actorType, body, createdAt]
      properties:
        actorType:
          $ref: "#/components/schemas/SupportActorType"
        body:
          type: string
        createdAt:
          type: string
          format: date-time
    UserDataSupportStatus:
      type: object
      required: [toStatus, actorType, createdAt]
      properties:
        fromStatus:
          $ref: "#/components/schemas/SupportRequestStatus"
          nullable: true
        toStatus:
          $ref: "#/components/schemas/SupportRequestStatus"
        actorType:
          $ref: "#/components/schemas/SupportActorType"
        createdAt:
          type: string
          format: date-time
    UserDataAiUsage:
      type: object
      required:
        [provider, operation, outcome, fallbackUsed, durationMs, inputChars, outputChars, createdAt]
      properties:
        provider:
          type: string
        model:
          type: string
          nullable: true
        operation:
          type: string
        outcome:
          type: string
          enum: [SUCCESS, FALLBACK, REFUSAL, ERROR]
        fallbackUsed:
          type: boolean
        durationMs:
          type: integer
          minimum: 0
        promptTemplateCode:
          type: string
          nullable: true
        promptTemplateVersion:
          type: integer
          nullable: true
        inputChars:
          type: integer
          minimum: 0
        outputChars:
          type: integer
          minimum: 0
        inputTokens:
          type: integer
          minimum: 0
          nullable: true
          description: Provider-reported input token count when available.
        outputTokens:
          type: integer
          minimum: 0
          nullable: true
          description: Provider-reported output token count when available.
        errorCode:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    UserProfileResponse:
      type: object
      required: [aiProfileContextEnabled]
      properties:
        nickname:
          type: string
          maxLength: 30
          nullable: true
        avatarPreset:
          $ref: "#/components/schemas/AvatarPreset"
          nullable: true
        ageRange:
          $ref: "#/components/schemas/AgeRange"
          nullable: true
        occupation:
          type: string
          maxLength: 40
          nullable: true
        selfDescription:
          type: string
          maxLength: 120
          nullable: true
        aiProfileContextEnabled:
          type: boolean
          default: false
          description: >-
            When true, Companion may use only nickname, ageRange, occupation,
            and selfDescription as user-provided context. Avatar presets and
            inferred traits are excluded. Disabling applies to the next request.
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
    UpdateUserProfileRequest:
      type: object
      properties:
        nickname:
          type: string
          maxLength: 30
          description: Blank strings are saved as null.
        avatarPreset:
          $ref: "#/components/schemas/AvatarPreset"
        ageRange:
          $ref: "#/components/schemas/AgeRange"
        occupation:
          type: string
          maxLength: 40
          description: Blank strings are saved as null.
        selfDescription:
          type: string
          maxLength: 120
          description: Blank strings are saved as null.
        aiProfileContextEnabled:
          type: boolean
          default: false
    MeetZeroonCompanionRequest:
      type: object
      properties:
        companionKey:
          $ref: "#/components/schemas/ZeroonCompanionKey"
      description: Omit `companionKey` to use the default ZEROON companion.
    ZeroonCompanionResponse:
      type: object
      required: [met]
      properties:
        met:
          type: boolean
          description: Whether the user has met their private ZEROON companion.
        companionKey:
          $ref: "#/components/schemas/ZeroonCompanionKey"
          nullable: true
        displayName:
          type: string
          maxLength: 30
          nullable: true
        nameplateSerial:
          type: string
          pattern: "^ZR-[0-9]{8}-[A-Z2-9]{4}$"
          nullable: true
          description: Stable private ZEROON nameplate serial assigned at first meeting.
        metAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
    ZeroonCompanionKey:
      type: string
      enum: [ZEROON_DEFAULT]
    AvatarPreset:
      type: string
      enum: [ZEROON_DEFAULT, MOON, MOUNTAIN, SEA, LIGHT, SEED]
    AgeRange:
      type: string
      enum: [UNDER_18, 18_24, 25_34, 35_44, 45_54, 55_PLUS, PREFER_NOT_TO_SAY]
    State:
      type: string
      enum: [CALM, FOCUS, CREATE, TIRED, OVERLOAD, CONFUSED]
    StateSnapshot:
      type: object
      required: [state, source, changedAt]
      properties:
        state:
          $ref: "#/components/schemas/State"
        source:
          type: string
          enum: [MANUAL, RECORD, AI, SYSTEM]
        changedAt:
          type: string
          format: date-time
        sessionId:
          type: integer
          format: int64
          nullable: true
        startedAt:
          type: string
          format: date-time
          nullable: true
        elapsedSeconds:
          type: integer
          format: int64
          minimum: 0
    StateChangeRequest:
      type: object
      required: [state]
      properties:
        state:
          $ref: "#/components/schemas/State"
    StartStateSessionRequest:
      type: object
      required: [state]
      properties:
        state:
          $ref: "#/components/schemas/State"
    CreateRecordRequest:
      type: object
      properties:
        state:
          $ref: "#/components/schemas/State"
          description: Deprecated compatibility field. New Sprint 04 clients derive state from the active state session.
        goal:
          type: string
          maxLength: 1000
        content:
          type: string
          maxLength: 5000
    ZeroRecord:
      allOf:
        - $ref: "#/components/schemas/CreateRecordRequest"
        - type: object
          required: [id, createdAt]
          properties:
            id:
              type: integer
              format: int64
            aiSummary:
              type: string
              maxLength: 1000
            stateSessionId:
              type: integer
              format: int64
              nullable: true
            stateStartedAt:
              type: string
              format: date-time
              nullable: true
            stateEndedAt:
              type: string
              format: date-time
              nullable: true
            stateDurationSeconds:
              type: integer
              format: int64
              nullable: true
            createdAt:
              type: string
              format: date-time
    RecordPage:
      type: object
      required: [items, page, size, totalElements]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ZeroRecord"
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
          format: int64
    ChatRequest:
      type: object
      required: [message]
      properties:
        conversationId:
          type: integer
          format: int64
        message:
          type: string
          minLength: 1
          maxLength: 4000
    ChatResponse:
      type: object
      required:
        [conversationId, messageId, reply, outcome, latencyBucket,
         promptVersion, modelAlias, contextClasses]
      properties:
        conversationId:
          type: integer
          format: int64
        messageId:
          type: integer
          format: int64
        reply:
          type: string
        safetyNotice:
          type: string
          nullable: true
        outcome:
          type: string
          enum: [SUCCESS, FALLBACK, REFUSAL, FAILED]
        latencyBucket:
          type: string
          enum:
            [UNDER_500_MS, FROM_500_TO_1499_MS, FROM_1500_TO_4999_MS,
             FROM_5_TO_14_SECONDS, OVER_15_SECONDS]
        promptVersion:
          type: string
          maxLength: 40
          description: Content-free reviewed prompt-family/version alias.
        modelAlias:
          type: string
          maxLength: 40
          description: Content-free reviewed provider-path alias, never a raw model id.
        contextClasses:
          type: array
          uniqueItems: true
          maxItems: 2
          description: Enabled Profile/Memory context classes used for this turn; no content.
          items:
            type: string
            enum: [PROFILE, MEMORY]
    MemoryEntry:
      type: object
      required:
        [id, type, summary, importance, enabled, aiContextEnabled, createdAt, updatedAt]
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          enum: [ZERO_RECORD, STATE, CONVERSATION, GROWTH]
        title:
          type: string
        summary:
          type: string
        importance:
          type: integer
          minimum: 1
          maximum: 10
        sourceType:
          type: string
          nullable: true
        sourceId:
          type: integer
          format: int64
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        enabled:
          type: boolean
          description: >-
            Whether the entry participates in continuity features. When false,
            the entry is excluded from AI context immediately even if
            aiContextEnabled remains true.
        aiContextEnabled:
          type: boolean
          description: >-
            Per-entry AI-use permission. Defaults to false. Companion requests
            include the entry only when this is true, enabled is true, the entry
            is unexpired and owned by the caller, and assembly stays within the
            configured count and character bounds. Source class and source id
            may be sent; no personality label, diagnosis, or score is generated.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UpdateMemoryControlsRequest:
      type: object
      minProperties: 1
      properties:
        enabled:
          type: boolean
          description: Reversible activation control for continuity and AI eligibility.
        aiContextEnabled:
          type: boolean
          description: >-
            Explicit permission for this Memory to enter AI context. Closing this
            permission excludes the entry from the next companion request.
    MemoryPage:
      type: object
      required: [items, page, size, totalElements]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/MemoryEntry"
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
          format: int64
    GrowthSummary:
      type: object
      required:
        [continuousResetDays, cachedEntries, companionDays, timezone, calculatedAt]
      properties:
        continuousResetDays:
          type: integer
          minimum: 0
          example: 7
        cachedEntries:
          type: integer
          format: int64
          minimum: 0
          example: 126
        firstRecordDate:
          type: string
          format: date
          nullable: true
          example: 2025-06-11
        companionDays:
          type: integer
          minimum: 1
          example: 365
        timezone:
          type: string
          example: Asia/Shanghai
        calculatedAt:
          type: string
          format: date-time
    StatePatternSummary:
      type: object
      required:
        [days, sampleSize, distribution, observation, dataSources, timezone, calculatedAt]
      properties:
        days:
          type: integer
          minimum: 1
          maximum: 90
        sampleSize:
          type: integer
          format: int64
          minimum: 0
        dominantState:
          $ref: "#/components/schemas/State"
          nullable: true
        distribution:
          type: object
          additionalProperties:
            type: integer
            format: int64
        observation:
          type: string
          description: Non-diagnostic user-facing explanation.
        dataSources:
          type: array
          items:
            type: string
        timezone:
          type: string
          example: Asia/Shanghai
        calculatedAt:
          type: string
          format: date-time
    PromptRequest:
      type: object
      required: [code, name, content]
      properties:
        code:
          type: string
          pattern: "^[A-Z0-9_]{3,100}$"
        name:
          type: string
          maxLength: 100
        content:
          type: string
          maxLength: 20000
    EvidenceOperationsResponse:
      type: object
      required:
        [cohortStart, cohortEnd, asOfDate, minimumCohortSize, suppressed,
         interpretationNotice]
      properties:
        cohortStart:
          type: string
          format: date
        cohortEnd:
          type: string
          format: date
        asOfDate:
          type: string
          format: date
        minimumCohortSize:
          type: integer
          enum: [5]
        suppressed:
          type: boolean
          description: True when the whole cohort is below the release threshold.
        activationCoverage:
          type: string
          nullable: true
        authenticatedSubjects:
          type: integer
          nullable: true
          minimum: 5
        activation:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceMetricCell"
          nullable: true
        dayOneRetention:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceMetricCell"
          nullable: true
        daySevenRetention:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceMetricCell"
          nullable: true
        dayThirtyRetention:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceMetricCell"
          nullable: true
        weekTwoRecord:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceMetricCell"
          nullable: true
        currentWeekContinuityReview:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceMetricCell"
          nullable: true
        currentWeekChatOnly:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceMetricCell"
          nullable: true
        recordFlowCompletion:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceMetricCell"
          nullable: true
        reliability:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceReliabilityView"
          nullable: true
        trustControls:
          type: object
          allOf:
            - $ref: "#/components/schemas/EvidenceTrustControlsView"
          nullable: true
        interpretationNotice:
          type: string
    EvidenceMetricCell:
      type: object
      required: [suppressed]
      properties:
        suppressed:
          type: boolean
        numerator:
          type: integer
          format: int64
          nullable: true
        denominator:
          type: integer
          format: int64
          nullable: true
        rate:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
    EvidenceCountCell:
      type: object
      required: [suppressed]
      properties:
        suppressed:
          type: boolean
        events:
          type: integer
          format: int64
          nullable: true
        subjects:
          type: integer
          format: int64
          nullable: true
          minimum: 5
    EvidenceDistribution:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/EvidenceCountCell"
    EvidenceReliabilityView:
      type: object
      required:
        [recordSaved, recordSaveFailed, recordSaveSuccess, recoveredRetry,
         reflectionOutcomes, reflectionLatencyBuckets]
      properties:
        recordSaved:
          $ref: "#/components/schemas/EvidenceCountCell"
        recordSaveFailed:
          $ref: "#/components/schemas/EvidenceCountCell"
        recordSaveSuccess:
          $ref: "#/components/schemas/EvidenceMetricCell"
        recoveredRetry:
          $ref: "#/components/schemas/EvidenceMetricCell"
        reflectionOutcomes:
          $ref: "#/components/schemas/EvidenceDistribution"
        reflectionLatencyBuckets:
          $ref: "#/components/schemas/EvidenceDistribution"
    EvidenceTrustControlsView:
      type: object
      required:
        [aiContextDisabledSubjects, memoryDeletionSubjects, dataExportDemand,
         accountDeletionDemand]
      properties:
        aiContextDisabledSubjects:
          $ref: "#/components/schemas/EvidenceMetricCell"
        memoryDeletionSubjects:
          $ref: "#/components/schemas/EvidenceMetricCell"
        dataExportDemand:
          $ref: "#/components/schemas/EvidenceMetricCell"
        accountDeletionDemand:
          $ref: "#/components/schemas/EvidenceMetricCell"
    PromptTemplateListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PromptTemplateSummary"
    PromptTemplateSummary:
      type: object
      required: [id, code, name, version, enabled, createdAt]
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        name:
          type: string
        version:
          type: integer
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
    PromptTemplateDetail:
      allOf:
        - $ref: "#/components/schemas/PromptTemplateSummary"
        - type: object
          required: [content]
          properties:
            content:
              type: string
    Problem:
      type: object
      required: [type, title, status, traceId]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        traceId:
          type: string
        fieldErrors:
          type: object
          additionalProperties:
            type: string
