openapi: 3.0.3
info:
  title: ZEROON API
  version: 1.0.0
  description: Contract for the ZEROON MVP mobile app and admin system.
  license:
    name: Proprietary
    url: https://zeroon.ai/legal/license
servers:
  - url: https://api.zeroon.ai/api/v1
    description: Production
tags:
  - name: Auth
    description: Login, token rotation, and session revocation.
  - name: User
    description: Current-user profile and lifecycle.
  - name: State
    description: Current state and state transitions.
  - name: Record
    description: Private zero records owned by the current user.
  - name: Companion
    description: AI companion conversations.
  - name: Memory
    description: Derived private memory entries.
  - name: Growth
    description: Long-term companion and personal growth metrics.
  - name: Admin
    description: Operational APIs restricted to authenticated users with the ADMIN role.
paths:
  /auth/codes:
    post:
      tags: [Auth]
      summary: Request an SMS verification code
      description: >-
        Requests an expiring one-time code. Production applies a 60-second
        mobile cooldown plus hourly mobile and source-IP limits.
      operationId: requestLoginCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CodeRequest"
      responses:
        "202":
          description: Code accepted for delivery
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/AuthRateLimited"
        "503":
          $ref: "#/components/responses/AuthUnavailable"
  /auth/login:
    post:
      tags: [Auth]
      summary: Login or register with a verification code
      description: >-
        Consumes a valid code once. Production limits attempts by device and
        source IP, and deletes a code after five failed attempts.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/AuthRateLimited"
        "503":
          $ref: "#/components/responses/AuthUnavailable"
  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate a refresh token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Rotated tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke a refresh session
      description: >-
        Revokes the supplied refresh session when it belongs to the current
        user. Repeating the same logout is idempotent.
      operationId: logout
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "204":
          description: Logged out
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /me:
    get:
      tags: [User]
      summary: Get the current user
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/export:
    get:
      tags: [User]
      summary: Export the current user's ZEROON data
      description: >-
        Returns the Beta JSON data copy described by UserDataExport. Credential
        hashes and raw refresh tokens are never included.
      operationId: exportCurrentUserData
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user's JSON data copy
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDataExport"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/deletion:
    delete:
      tags: [User]
      summary: Permanently delete the current account and private content
      description: >-
        Completes synchronous hard deletion before returning. Repeated calls
        are idempotent. User-owned profiles, sessions, state data, records,
        conversations, messages, memory, and companion data are deleted.
        Content-free AI usage and audit metadata may remain only after user and
        conversation references are set to null.
      operationId: deleteCurrentAccount
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Account content deleted, or already deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/profile:
    get:
      tags: [User]
      summary: Get the current user's optional ZEROON profile
      description: Returns default empty values when no profile has been saved.
      operationId: getUserProfile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user's profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [User]
      summary: Create or update the current user's optional ZEROON profile
      description: >-
        Blank strings are saved as null. AI profile context is disabled unless
        explicitly enabled. The current value applies to the next AI request;
        no profile field is used while disabled.
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserProfileRequest"
      responses:
        "200":
          description: Saved profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/zeroon-companion:
    get:
      tags: [User]
      summary: Get the current user's private ZEROON companion
      description: Returns `met=false` when the user has not met their ZEROON yet.
      operationId: getZeroonCompanion
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user's ZEROON companion state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZeroonCompanionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [User]
      summary: Meet the current user's private ZEROON companion
      description: Creates the companion once and returns the existing companion on repeated calls.
      operationId: meetZeroonCompanion
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MeetZeroonCompanionRequest"
      responses:
        "200":
          description: Current user's ZEROON companion state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZeroonCompanionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /state/current:
    get:
      tags: [State]
      summary: Get the current state
      operationId: getCurrentState
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateSnapshot"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /state/changes:
    post:
      tags: [State]
      summary: Change the current state
      operationId: changeState
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StateChangeRequest"
      responses:
        "201":
          description: State changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateSnapshot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /state/sessions:
    post:
      tags: [State]
      summary: Start or switch the active state session
      operationId: startStateSession
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartStateSessionRequest"
      responses:
        "201":
          description: Active state session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateSnapshot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /records:
    get:
      tags: [Record]
      summary: List the current user's records
      operationId: listRecords
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: Record page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Record]
      summary: Create a zero record
      operationId: createRecord
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRecordRequest"
      responses:
        "201":
          description: Record created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZeroRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /records/{recordId}:
    get:
      tags: [Record]
      summary: Get one record owned by the current user
      operationId: getRecord
      security:
        - bearerAuth: []
      parameters:
        - name: recordId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Record detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZeroRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /companion/messages:
    post:
      tags: [Companion]
      summary: Send a message to ZEROON
      description: >-
        Assembles AI context from current consent only. Profile fields enter the
        provider request only when aiProfileContextEnabled is true. Memory
        entries enter only when they belong to the current user, enabled is true,
        aiContextEnabled is true, and the entry is unexpired. Memory context is
        bounded by entry count and character length, includes source class and
        source id, and never invents personality labels, diagnoses, or scores.
        Titles, summaries, and other private Memory text are excluded from usage
        logs and error metadata.
      operationId: sendCompanionMessage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
      responses:
        "200":
          description: Companion response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"
  /memory:
    get:
      tags: [Memory]
      summary: List memory entries owned by the current user
      operationId: listMemory
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: Memory page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /memory/{memoryId}:
    get:
      tags: [Memory]
      summary: Get one memory entry owned by the current user
      operationId: getMemory
      security:
        - bearerAuth: []
      parameters:
        - name: memoryId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Memory entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Memory]
      summary: Update controls for one owned memory entry
      description: >-
        Updates only supplied controls. A disabled entry cannot participate in
        continuity or AI context even when aiContextEnabled remains true.
        Changing enabled or aiContextEnabled takes effect on the next companion
        request. Profile AI context consent remains a separate gate for profile
        fields and does not replace per-entry Memory AI permission.
      operationId: updateMemoryControls
      security:
        - bearerAuth: []
      parameters:
        - name: memoryId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMemoryControlsRequest"
      responses:
        "200":
          description: Updated memory entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Memory]
      summary: Permanently delete one owned memory entry
      description: Immediately hard-deletes the Memory title and summary.
      operationId: deleteMemory
      security:
        - bearerAuth: []
      parameters:
        - name: memoryId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: Memory entry deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /growth/summary:
    get:
      tags: [Growth]
      summary: Get companion growth metrics for the current user
      description: Calendar calculations use the requested IANA timezone.
      operationId: getGrowthSummary
      security:
        - bearerAuth: []
      parameters:
        - name: timezone
          in: query
          required: true
          description: IANA timezone used for calendar-day calculations.
          schema:
            type: string
            example: Asia/Shanghai
      responses:
        "200":
          description: Growth summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /growth/state-pattern:
    get:
      tags: [Growth]
      summary: Get recent state pattern summary
      description: Non-diagnostic summary based only on visible state history.
      operationId: getStatePattern
      security:
        - bearerAuth: []
      parameters:
        - name: timezone
          in: query
          required: true
          description: IANA timezone used for calendar-day calculations.
          schema:
            type: string
            example: Asia/Shanghai
        - name: days
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 14
      responses:
        "200":
          description: Recent state pattern summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatePatternSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/users:
    get:
      tags: [Admin]
      summary: List users without exposing private record content
      operationId: adminListUsers
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: User page
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/prompts:
    get:
      tags: [Admin]
      summary: List prompt templates
      operationId: listPrompts
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Prompt templates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptTemplateListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags: [Admin]
      summary: Create a prompt template version
      operationId: createPrompt
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromptRequest"
      responses:
        "201":
          description: Prompt created
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/prompts/{promptId}:
    get:
      tags: [Admin]
      summary: Get prompt template detail
      operationId: getPrompt
      security:
        - bearerAuth: []
      parameters:
        - name: promptId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Prompt template detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptTemplateDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    Size:
      name: size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Unauthorized:
      description: Authentication required or invalid
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: Insufficient permission
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    AuthRateLimited:
      description: Verification-code rate or failed-attempt limit exceeded
      headers:
        Retry-After:
          description: Minimum seconds before retrying this operation
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    AuthUnavailable:
      description: Verification-code storage or delivery service unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    Unavailable:
      description: Upstream service unavailable
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    ApiError:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          example: rate_limited
        message:
          type: string
    CodeRequest:
      type: object
      required: [mobile]
      properties:
        mobile:
          type: string
          pattern: "^\\+[1-9][0-9]{7,14}$"
          example: "+8613800000000"
    LoginRequest:
      type: object
      required: [mobile, code, deviceId]
      properties:
        mobile:
          type: string
          pattern: "^\\+[1-9][0-9]{7,14}$"
        code:
          type: string
          pattern: "^[0-9]{6}$"
        deviceId:
          type: string
          minLength: 8
          maxLength: 128
    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
          minLength: 32
    AuthResponse:
      type: object
      required: [accessToken, refreshToken, expiresIn, user]
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
          description: Access-token lifetime in seconds.
        user:
          $ref: "#/components/schemas/AuthUser"
    AuthUser:
      type: object
      required: [id, uid, currentState]
      properties:
        id:
          type: integer
          format: int64
        uid:
          type: string
        mobile:
          type: string
          nullable: true
        currentState:
          $ref: "#/components/schemas/State"
    CurrentUser:
      type: object
      required: [uid, currentState, status, roles, createdAt]
      properties:
        uid:
          type: string
        mobile:
          type: string
          nullable: true
        currentState:
          $ref: "#/components/schemas/State"
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, DELETION_PENDING, DELETED]
        roles:
          type: array
          items:
            type: string
            enum: [USER, ADMIN]
        createdAt:
          type: string
          format: date-time
    UserDataExport:
      type: object
      required:
        - schemaVersion
        - exportedAt
        - account
        - sessions
        - stateHistory
        - stateSessions
        - records
        - conversations
        - memoryEntries
        - aiUsage
      properties:
        schemaVersion:
          type: string
          enum: [zeroon-beta-export-v1]
        exportedAt:
          type: string
          format: date-time
        account:
          $ref: "#/components/schemas/CurrentUser"
        profile:
          $ref: "#/components/schemas/UserDataProfile"
          nullable: true
        zeroonCompanion:
          $ref: "#/components/schemas/UserDataZeroonCompanion"
          nullable: true
        sessions:
          type: array
          description: Session metadata only; refresh tokens and token hashes are excluded.
          items:
            $ref: "#/components/schemas/UserDataSession"
        stateHistory:
          type: array
          items:
            $ref: "#/components/schemas/UserDataStateChange"
        stateSessions:
          type: array
          items:
            $ref: "#/components/schemas/UserDataStateSession"
        records:
          type: array
          items:
            $ref: "#/components/schemas/UserDataRecord"
        conversations:
          type: array
          items:
            $ref: "#/components/schemas/UserDataConversation"
        memoryEntries:
          type: array
          items:
            $ref: "#/components/schemas/UserDataMemoryEntry"
        aiUsage:
          type: array
          description: Content-free provider and outcome metadata; no prompt text.
          items:
            $ref: "#/components/schemas/UserDataAiUsage"
    UserDataProfile:
      type: object
      required: [aiProfileContextEnabled, createdAt, updatedAt]
      properties:
        nickname:
          type: string
          nullable: true
        avatarPreset:
          $ref: "#/components/schemas/AvatarPreset"
          nullable: true
        ageRange:
          $ref: "#/components/schemas/AgeRange"
          nullable: true
        occupation:
          type: string
          nullable: true
        selfDescription:
          type: string
          nullable: true
        aiProfileContextEnabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserDataZeroonCompanion:
      type: object
      required: [companionKey, nameplateSerial, metAt]
      properties:
        companionKey:
          type: string
        displayName:
          type: string
          nullable: true
        nameplateSerial:
          type: string
        metAt:
          type: string
          format: date-time
    UserDataSession:
      type: object
      required: [deviceId, expiresAt, createdAt]
      properties:
        deviceId:
          type: string
        expiresAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
    UserDataStateChange:
      type: object
      required: [currentState, source, createdAt]
      properties:
        previousState:
          $ref: "#/components/schemas/State"
          nullable: true
        currentState:
          $ref: "#/components/schemas/State"
        source:
          type: string
        createdAt:
          type: string
          format: date-time
    UserDataStateSession:
      type: object
      required: [id, state, source, startedAt]
      properties:
        id:
          type: integer
          format: int64
        state:
          $ref: "#/components/schemas/State"
        source:
          type: string
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
          nullable: true
        endedByRecordId:
          type: integer
          format: int64
          nullable: true
    UserDataRecord:
      type: object
      required: [id, state, createdAt, updatedAt]
      properties:
        id:
          type: integer
          format: int64
        state:
          $ref: "#/components/schemas/State"
        goal:
          type: string
          nullable: true
        content:
          type: string
          nullable: true
        aiSummary:
          type: string
          nullable: true
        stateSessionId:
          type: integer
          format: int64
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserDataConversation:
      type: object
      required: [id, createdAt, updatedAt, messages]
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        messages:
          type: array
          items:
            $ref: "#/components/schemas/UserDataMessage"
    UserDataMessage:
      type: object
      required: [id, role, content, createdAt]
      properties:
        id:
          type: integer
          format: int64
        role:
          type: string
          enum: [USER, ASSISTANT, SYSTEM]
        content:
          type: string
        safetyLabel:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    UserDataMemoryEntry:
      type: object
      required:
        [id, type, summary, importance, enabled, aiContextEnabled, createdAt, updatedAt]
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          enum: [ZERO_RECORD, STATE, CONVERSATION, GROWTH]
        title:
          type: string
          nullable: true
        summary:
          type: string
        importance:
          type: integer
          minimum: 1
          maximum: 10
        sourceType:
          type: string
          nullable: true
        sourceId:
          type: integer
          format: int64
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        enabled:
          type: boolean
          description: Whether the entry participates in continuity features.
        aiContextEnabled:
          type: boolean
          description: Per-entry AI-use permission; ineffective while enabled is false.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserDataAiUsage:
      type: object
      required:
        [provider, operation, outcome, fallbackUsed, durationMs, inputChars, outputChars, createdAt]
      properties:
        provider:
          type: string
        model:
          type: string
          nullable: true
        operation:
          type: string
        outcome:
          type: string
          enum: [SUCCESS, FALLBACK, REFUSAL, ERROR]
        fallbackUsed:
          type: boolean
        durationMs:
          type: integer
          minimum: 0
        promptTemplateCode:
          type: string
          nullable: true
        promptTemplateVersion:
          type: integer
          nullable: true
        inputChars:
          type: integer
          minimum: 0
        outputChars:
          type: integer
          minimum: 0
        errorCode:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    UserProfileResponse:
      type: object
      required: [aiProfileContextEnabled]
      properties:
        nickname:
          type: string
          maxLength: 30
          nullable: true
        avatarPreset:
          $ref: "#/components/schemas/AvatarPreset"
          nullable: true
        ageRange:
          $ref: "#/components/schemas/AgeRange"
          nullable: true
        occupation:
          type: string
          maxLength: 40
          nullable: true
        selfDescription:
          type: string
          maxLength: 120
          nullable: true
        aiProfileContextEnabled:
          type: boolean
          default: false
          description: >-
            When true, Companion may use only nickname, ageRange, occupation,
            and selfDescription as user-provided context. Avatar presets and
            inferred traits are excluded. Disabling applies to the next request.
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
    UpdateUserProfileRequest:
      type: object
      properties:
        nickname:
          type: string
          maxLength: 30
          description: Blank strings are saved as null.
        avatarPreset:
          $ref: "#/components/schemas/AvatarPreset"
        ageRange:
          $ref: "#/components/schemas/AgeRange"
        occupation:
          type: string
          maxLength: 40
          description: Blank strings are saved as null.
        selfDescription:
          type: string
          maxLength: 120
          description: Blank strings are saved as null.
        aiProfileContextEnabled:
          type: boolean
          default: false
    MeetZeroonCompanionRequest:
      type: object
      properties:
        companionKey:
          $ref: "#/components/schemas/ZeroonCompanionKey"
      description: Omit `companionKey` to use the default ZEROON companion.
    ZeroonCompanionResponse:
      type: object
      required: [met]
      properties:
        met:
          type: boolean
          description: Whether the user has met their private ZEROON companion.
        companionKey:
          $ref: "#/components/schemas/ZeroonCompanionKey"
          nullable: true
        displayName:
          type: string
          maxLength: 30
          nullable: true
        nameplateSerial:
          type: string
          pattern: "^ZR-[0-9]{8}-[A-Z2-9]{4}$"
          nullable: true
          description: Stable private ZEROON nameplate serial assigned at first meeting.
        metAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
    ZeroonCompanionKey:
      type: string
      enum: [ZEROON_DEFAULT]
    AvatarPreset:
      type: string
      enum: [ZEROON_DEFAULT, MOON, MOUNTAIN, SEA, LIGHT, SEED]
    AgeRange:
      type: string
      enum: [UNDER_18, 18_24, 25_34, 35_44, 45_54, 55_PLUS, PREFER_NOT_TO_SAY]
    State:
      type: string
      enum: [CALM, FOCUS, CREATE, TIRED, OVERLOAD, CONFUSED]
    StateSnapshot:
      type: object
      required: [state, source, changedAt]
      properties:
        state:
          $ref: "#/components/schemas/State"
        source:
          type: string
          enum: [MANUAL, RECORD, AI, SYSTEM]
        changedAt:
          type: string
          format: date-time
        sessionId:
          type: integer
          format: int64
          nullable: true
        startedAt:
          type: string
          format: date-time
          nullable: true
        elapsedSeconds:
          type: integer
          format: int64
          minimum: 0
    StateChangeRequest:
      type: object
      required: [state]
      properties:
        state:
          $ref: "#/components/schemas/State"
    StartStateSessionRequest:
      type: object
      required: [state]
      properties:
        state:
          $ref: "#/components/schemas/State"
    CreateRecordRequest:
      type: object
      properties:
        state:
          $ref: "#/components/schemas/State"
          description: Deprecated compatibility field. New Sprint 04 clients derive state from the active state session.
        goal:
          type: string
          maxLength: 1000
        content:
          type: string
          maxLength: 5000
    ZeroRecord:
      allOf:
        - $ref: "#/components/schemas/CreateRecordRequest"
        - type: object
          required: [id, createdAt]
          properties:
            id:
              type: integer
              format: int64
            aiSummary:
              type: string
              maxLength: 1000
            stateSessionId:
              type: integer
              format: int64
              nullable: true
            stateStartedAt:
              type: string
              format: date-time
              nullable: true
            stateEndedAt:
              type: string
              format: date-time
              nullable: true
            stateDurationSeconds:
              type: integer
              format: int64
              nullable: true
            createdAt:
              type: string
              format: date-time
    RecordPage:
      type: object
      required: [items, page, size, totalElements]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ZeroRecord"
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
          format: int64
    ChatRequest:
      type: object
      required: [message]
      properties:
        conversationId:
          type: integer
          format: int64
        message:
          type: string
          minLength: 1
          maxLength: 4000
    ChatResponse:
      type: object
      required: [conversationId, messageId, reply]
      properties:
        conversationId:
          type: integer
          format: int64
        messageId:
          type: integer
          format: int64
        reply:
          type: string
        safetyNotice:
          type: string
          nullable: true
    MemoryEntry:
      type: object
      required:
        [id, type, summary, importance, enabled, aiContextEnabled, createdAt, updatedAt]
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          enum: [ZERO_RECORD, STATE, CONVERSATION, GROWTH]
        title:
          type: string
        summary:
          type: string
        importance:
          type: integer
          minimum: 1
          maximum: 10
        sourceType:
          type: string
          nullable: true
        sourceId:
          type: integer
          format: int64
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        enabled:
          type: boolean
          description: >-
            Whether the entry participates in continuity features. When false,
            the entry is excluded from AI context immediately even if
            aiContextEnabled remains true.
        aiContextEnabled:
          type: boolean
          description: >-
            Per-entry AI-use permission. Defaults to false. Companion requests
            include the entry only when this is true, enabled is true, the entry
            is unexpired and owned by the caller, and assembly stays within the
            configured count and character bounds. Source class and source id
            may be sent; no personality label, diagnosis, or score is generated.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UpdateMemoryControlsRequest:
      type: object
      minProperties: 1
      properties:
        enabled:
          type: boolean
          description: Reversible activation control for continuity and AI eligibility.
        aiContextEnabled:
          type: boolean
          description: >-
            Explicit permission for this Memory to enter AI context. Closing this
            permission excludes the entry from the next companion request.
    MemoryPage:
      type: object
      required: [items, page, size, totalElements]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/MemoryEntry"
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
          format: int64
    GrowthSummary:
      type: object
      required:
        [continuousResetDays, cachedEntries, companionDays, timezone, calculatedAt]
      properties:
        continuousResetDays:
          type: integer
          minimum: 0
          example: 7
        cachedEntries:
          type: integer
          format: int64
          minimum: 0
          example: 126
        firstRecordDate:
          type: string
          format: date
          nullable: true
          example: 2025-06-11
        companionDays:
          type: integer
          minimum: 1
          example: 365
        timezone:
          type: string
          example: Asia/Shanghai
        calculatedAt:
          type: string
          format: date-time
    StatePatternSummary:
      type: object
      required:
        [days, sampleSize, distribution, observation, dataSources, timezone, calculatedAt]
      properties:
        days:
          type: integer
          minimum: 1
          maximum: 90
        sampleSize:
          type: integer
          format: int64
          minimum: 0
        dominantState:
          $ref: "#/components/schemas/State"
          nullable: true
        distribution:
          type: object
          additionalProperties:
            type: integer
            format: int64
        observation:
          type: string
          description: Non-diagnostic user-facing explanation.
        dataSources:
          type: array
          items:
            type: string
        timezone:
          type: string
          example: Asia/Shanghai
        calculatedAt:
          type: string
          format: date-time
    PromptRequest:
      type: object
      required: [code, name, content]
      properties:
        code:
          type: string
          pattern: "^[A-Z0-9_]{3,100}$"
        name:
          type: string
          maxLength: 100
        content:
          type: string
          maxLength: 20000
    PromptTemplateListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PromptTemplateSummary"
    PromptTemplateSummary:
      type: object
      required: [id, code, name, version, enabled, createdAt]
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        name:
          type: string
        version:
          type: integer
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
    PromptTemplateDetail:
      allOf:
        - $ref: "#/components/schemas/PromptTemplateSummary"
        - type: object
          required: [content]
          properties:
            content:
              type: string
    Problem:
      type: object
      required: [type, title, status, traceId]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        traceId:
          type: string
        fieldErrors:
          type: object
          additionalProperties:
            type: string
